
        body{
            /* this width and height value suitable for an AD-Blocker extension ORIGIN: From chatgpt */
            width: 200px;
            height: 100px;
            background-color: black;
            color: aliceblue;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bolder;
            text-align: center;

        }
        /* .goat{
           
        }
         */
